<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/Users/leohvs/Documents/Lab/My_rep/public/css">
        <title>Ham och Burger</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <main>
            <h1>Välkommen till Ham och Burger</h1>
            <h4>Välj din burgare</h4>
            Här väljer du vilken burgare du vill ha
        </main>
        <section id="Burgare">
            <table>
                <thead>
                    <tr>
                        <th>Dödsburgaren</th>
                        <th>Daburger</th>
                        <th>Den gröna</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="https://www.max.se/ImageVaultFiles/id_702/cf_22/Burgers-Beefburger.jpg" width=200></td>
                        <td><img src="https://www.max.se/ImageVaultFiles/id_706/cf_22/Burgers-Maxburger.jpg" width=200></td>
                        <td><img src="https://www.max.se/ImageVaultFiles/id_720/cf_22/Meal-Delifresh-Low-Carb.jpg" width=200></td>
                    </tr>
                    <tr>
                        <td><ul>
                            <li>Gluten</li>
                            <li>Laktos</li>
                            <li>Tomat</li>
                            <li>Kött</li>
                            </ul></td>
                        <td><ul>
                            <li>Allt du vill ha</li>
                            </ul></td>
                        <td><ul>
                            <li>Bara grönt</li>
                            </ul></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section id="Kontakt">
            <h4>Kundinformation</h4>
            <p>Här anger du nödvändig information:</p>
            <form>
                <p>
                    <label for="kön">Kön</label><br>
                    <input type="radio" name="gender" value="man"> Man<br>
                    <input type="radio" name="gender" value="kvinna"> Kvinna<br>
                    <input type="radio" name="gender" value="inget"> Inget<br>
                    <input type="radio" name="gender" checked="checked" value="vill ej uppge"> Vill ej uppge
                </p>
                <p>
                    <label for="namn">För- och efternamn</label><br>
                    <input type="text" id="name" name="nm" required="required" placeholder="För- och efternamn">
                </p>
                <p>
                    <label for="email">E-mail</label><br>
                    <input type="text" id="email" name="em" placeholder="E-mail">
                </p>
                <p>
                    <label for="adress">Adress</label><br>
                    <input type="text" id="adress" name="ad" required="required" placeholder="Adress">
                </p>
                <p>
                    <label for="telefon">Telefon</label><br>
                    <input type="number" id="telefon" name="tf" required="required" placeholder="Telefon">
                </p>
            </form>
        </section>
        <section id="Betalning">
            <p>
                <label for="betalningsmetod">Hur vill du betala?</label><br>
                <select id="betalningsmetod" name="rcp">
                    <option>Kort</option>
                    <option>Swish</option>
                    <option>Kontant</option>
                    <option>Arbete</option>
                    <option>Springnota</option>
                </select><br>
                <input type="submit" value="Skicka">
            </p>
        </section>
    </body>
    <footer>
        © 2018 Hoffen Corporations
    </footer>
</html>